Feuille de route :
<ul>
<% roadmap.schedule.each do |day|%>
  <% if day.any? { |k, v| k != :unscheduled && v.present? } || day[:unscheduled].any? { |_k, v| v.present? } %>
    <li><%= day.flatten.flatten.find { |a| a.is_a? Activity}.planned_on.to_formatted_s(:long) %>
      <ul>
      <% unless day[:morning].empty? %>
        <li>Matin :
          <ul>
          <% day[:morning].each do |activity| %>
            <li><%= activity.title %></li>
          <% end %>
          </ul>
        </li>
      <% end %>
      <% unless day[:midday].empty? %>
        <li>Déjeuner :
          <ul>
          <% day[:midday].each do |activity| %>
            <li><%= activity.title %></li>
          <% end %>
          </ul>
        </li>
      <% end %>
      <% unless day[:afternoon].empty? %>
        <li>Après-midi :
          <ul>
          <% day[:afternoon].each do |activity| %>
            <li><%= activity.title %></li>
          <% end %>
          </ul>
        </li>
      <% end %>
      <% unless day[:evening].empty? %>
        <li>Soirée :
          <ul>
          <% day[:evening].each do |activity| %>
            <li><%= activity.title %></li>
          <% end %>
          </ul>
        </li>
      <% end %>
      <% unless day[:night].empty? %>
        <li>Nuit :
          <ul>
          <% day[:night].each do |activity| %>
            <li><%= activity.title %></li>
          <% end %>
          </ul>
        </li>
      <% end %>
      <% unless day[:unscheduled].none? { |k, v| v.present? } %>
        <li>Sélection de :
          <ul>
            <% unless day[:unscheduled][:bars].empty? %>
              <li>
                Bars :
                <ul>
                  <% day[:unscheduled][:bars].each do |bar| %>
                    <li><%= bar.title %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% unless day[:unscheduled][:restaurants].empty? %>
              <li>
                Restaurants :
                <ul>
                  <% day[:unscheduled][:restaurants].each do |rest| %>
                    <li><%= rest.title %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% unless day[:unscheduled][:occupations].empty? %>
              <li>
                Activités de jour :
                <ul>
                  <% day[:unscheduled][:occupations].each do |occ| %>
                    <li><%= occ.title %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% unless day[:unscheduled][:nightlife].empty? %>
              <li>
                Activités de nuit :
                <ul>
                  <% day[:unscheduled][:nightlife].each do |night| %>
                    <li><%= night.title %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% unless day[:unscheduled][:hotels].empty? %>
              <li>
                Hôtels :
                <ul>
                  <% day[:unscheduled][:hotels].each do |hot| %>
                    <li><%= hot.title %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      </ul>
    </li>
  <% end %>
<% end %>
</ul>
