<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="parameters">
        <%= simple_form_for @roadmap do |f| %>
        <div class="row">
          <h3 style="text-align: center;">Construisez votre itinéraire.</h3>
          <div class="formulaire col-lg-6">
            <%= f.input :start_destination, label: 'Départ', placeholder: "Où ?" %>
            <%= f.input :start_date, label: 'Du ', as: :bootstrap_datepicker, placeholder: "Quand ?" %>
          </div>
          <div class="formulaire col-lg-6">
            <%= f.input :end_destination, label: 'Arrivée', placeholder: "Où ?" %>
            <%= f.input :end_date, label: 'Au ', as: :bootstrap_datepicker, placeholder: "Quand ?" %>
          </div>
          <div class="formulaire col-lg-12">
            <%= f.submit "Enregistrer", class: "btn btn-primary" %>
          </div>
            <% end %>
        </div>
      </div>
      <div class="itinerary">
        <div class="to-see">
          <% @roadmap.activities.each do |activity| %>
            <div class="roadmap-activity">
              <div class="left">
                <%= link_to icon('times'), activity_path(activity), method: :delete, remote: true, class: "remove-experience remove-experience-#{activity.id}" %>
                <p><%= activity.experience.title %></p>
              </div>
              <div class="right">
              <% if activity.planned_on.present? %>
                <input class="bootstrap-datepicker activity-date" id="activity-<%= activity.id %>-date" value="<%= activity.planned_on.day %>/<%= activity.planned_on.month %>/<%= activity.planned_on.year %>">
              <% else %>
                <input class="bootstrap-datepicker activity-date" id="activity-<%= activity.id %>-date" placeholder="Quand ?">
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-lg-8">
      <div class="experiences-roadmap">
      <div class="container-fluid">
        <% @groups.each do |country, content| %>
          <div class="row">
            <h3><%= country %></h3>
            <div class="container_fluid" style="padding-left:30px;">
              <% content.sort_by { |_,w| -w.length }.each do |city, experience| %>
                <div class="row">
                  <h3><%= city %></h3>
                  <% experience.each do |experience| %>
                    <div class="col-xs-12 col-sm-4">
                      <%= render "shared/card", experience: experience %>
                      <%= link_to icon('plus'), roadmap_experience_activities_path(@roadmap, experience), class: "add-experience", id: "add-experience-#{experience.id}", remote: true, method: :post %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
<script>
  $(document).ready(function(){

  google.maps.event.addDomListener(window, 'load', function() {
    initializeAutocomplete('roadmap_start_destination');
  });
  google.maps.event.addDomListener(window, 'load', function() {
    initializeAutocomplete('roadmap_end_destination');
  });

    $(".unplanner").click(function(e){
      e.preventDefault();
      var activityID = $(this)[0].id;
      $.ajax({
        method: "PATCH",
        url: "/activities/"+activityID.split("-")[1],
        data: { planned_on: "nil" }
      }).done(function(e){
        console.log("activity-"+activityID.split("-")[1]+"-date")
        $("#activity-"+activityID.split("-")[1]+"-date").val("");
      });

    });
    $(".bootstrap-datepicker.roadmap-date").datepicker({
      isRTL: false,
      autoclose:true,
      language: 'fr'
    });
    $(".bootstrap-datepicker.activity-date").datepicker({
      isRTL: false,
      autoclose:true,
      language: 'fr'
    });
  });
</script>
<% end %>
