<% planning = @roadmap.planning %>

<div class="container-fluid">
  <div class="row">
    <div class="block-left col-md-6">
      <div class="row" style="position: relative; display: flex; flex-direction: column; margin-right: 25px; margin-left: 25px;">
      <div class="text-center title">
        <h2>
          <%= title(@roadmap) %>
          <%= link_to icon("pencil"), edit_roadmap_path(@roadmap), class: "roadmap-edit" %>
        </h2>
        </div>
        <div class="text-and-author" style="margin-top:-20px; background-color: #F4F4F4 ;height: 100px; display: flex; align-items: center; justify-content: space-around;">
        <% planning[:itinerary].each_with_index do |city, index| %>
          <div class="city"><%= city %></div>
          <% unless index == (planning[:itinerary].length-1) %>
            <%= icon("long-arrow-right").html_safe %>
          <% end %>
        <% end %>
        </div>
        <div class="reviews col-md-12">
          <%= render "schedule", schedule: planning[:schedule], unplanned: @roadmap.activities.where("planned_on IS NULL") %>
        </div>
      </div>
      </div>
      <div class="block-right block-fixed col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="map-wrapper">
              <div id="map" style="height: 100vh;"></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<% content_for :after_js do %>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>
  <script>
  var styleArray = [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}]
  initMap();
function initMap() {
  // Instantiate a directions service.
  var directionsService = new google.maps.DirectionsService;

  // Create a map, apply our custom style on it.
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    style: styleArray
  });

  // Create a renderer for directions and bind it to the map.
  var directionsDisplay = new google.maps.DirectionsRenderer({map: map});

  // Display the route between the initial start and end selections.
  calculateAndDisplayRoute(directionsDisplay, directionsService);
}

function calculateAndDisplayRoute(directionsDisplay, directionsService) {

  <% addresses = planning[:itinerary] %>
  directionsService.route({
    origin: "<%= addresses.first %>",
    destination: "<%= addresses.last %>",
    travelMode: google.maps.TravelMode.WALKING,
    // TODO: Add a way to pick between Walking/Driving/...
    <% if addresses.length > 2 %>
    waypoints: [
                <% addresses[1...-1].each do |wp| %>
                   {location: "<%= wp %>", stopover: false},
                <% end %>
               ]
    <% end %>
  }, function(response, status) {
    // Route the directions
    if (status === google.maps.DirectionsStatus.OK) {
      // Google warnings handling (deactivated for now.)
      //document.getElementById('steps').innerHTML =
        //  '<b>' + response.routes[0].warnings + '</b>';
      directionsDisplay.setDirections(response);
    } else {
      // Error handling (deactivated for now.)
      // document.getElementById('steps').innerHTML =
         // '<b>' + 'Directions request failed due to ' + status + '</b>';
    }
  });
}
  </script>
<% end %>






