<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><% title(@roadmap) %></h2>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <div class="start">
          <%= @roadmap.start_destination %> - <%= @roadmap.start_date %>
        </div>
      </div>
      <div class="col-md-12">
        <%= content_tag :ol do %>
          <% @roadmap.activities.where("planned_on IS NOT NULL").each do |activity| %>
            <%= content_tag :li, "#{activity.experience.title} - #{activity.planned_on.to_formatted_s(:long)}" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-12">
        <%= content_tag :ul do %>
          <% @roadmap.activities.where("planned_on IS NULL").each do |activity| %>
            <%= content_tag :li, "#{activity.experience.title}" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-12">
        <div class="end">
          <%= @roadmap.end_destination %> - <%= @roadmap.end_date %>
        </div>
      </div>
      <% planning = @roadmap.planning %>
      <div class="itinerary">
        Villes parcourues :
        <%= content_tag :ol do %>
          <% planning[:itinerary].each do |waypoint| %>
            <%= content_tag :li, waypoint %>
          <% end %>
        <% end %>
      </div>
      <div class="schedule">
      <%= render "schedule", schedule: planning[:schedule] %>
      </div>
    </div>
    <div class="col-md-6" style="height: 500px;">
      <div id="map" style="height: 100%;"></div>
      <%= link_to "M'envoyer mon itinéraire", roadmap_send_path(@roadmap) %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>
  <script>
  var styleArray = [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}]
  initMap();
function initMap() {
  // Instantiate a directions service.
  var directionsService = new google.maps.DirectionsService;

  // Create a map, apply our custom style on it.
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    style: styleArray
  });

  // Create a renderer for directions and bind it to the map.
  var directionsDisplay = new google.maps.DirectionsRenderer({map: map});

  // Display the route between the initial start and end selections.
  calculateAndDisplayRoute(directionsDisplay, directionsService);
}

function calculateAndDisplayRoute(directionsDisplay, directionsService) {

  <% addresses = planning[:itinerary] %>
  directionsService.route({
    origin: "<%= addresses.first %>",
    destination: "<%= addresses.last %>",
    travelMode: google.maps.TravelMode.WALKING,
    // TODO: Add a way to pick between Walking/Driving/...
    <% if addresses.length > 2 %>
    waypoints: [
                <% addresses[1...-1].each do |wp| %>
                   {location: "<%= wp %>", stopover: false},
                <% end %>
               ]
    <% end %>
  }, function(response, status) {
    // Route the directions
    if (status === google.maps.DirectionsStatus.OK) {
      // Google warnings handling (deactivated for now.)
      //document.getElementById('steps').innerHTML =
        //  '<b>' + response.routes[0].warnings + '</b>';
      directionsDisplay.setDirections(response);
    } else {
      // Error handling (deactivated for now.)
      // document.getElementById('steps').innerHTML =
         // '<b>' + 'Directions request failed due to ' + status + '</b>';
    }
  });
}
  </script>
<% end %>
