<%= content_for(:cgu_links) do %>
  Je certifie avoir lu et accepter les <%= link_to "Conditions Générales d'Utilisation", cgu_path %>.
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>S'inscrire</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: :true, autofocus: true, label: "Prénom" %>
        <%= f.input :last_name, required: :true, label: "Nom" %>
        <%= f.input :avatar, as: :attachinary, required: :true, label: "Photo" %>
        <%= f.input :email, required: true, label: "Adresse mail" %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caractères minimum." if @minimum_password_length), label: "Mot de passe" %>
        <%= f.input :password_confirmation, required: true, label: "Confirmez le mot de passe" %>
        <%= f.check_box :accepted %>
        <%= f.label :accepted, content_for(:cgu_links) %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
