<% deletable ||= false %>
<div class="card_wrapper" style="position:relative;">
  <%= link_to experience do %>
    <div class="card text-center" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 100%), url('<%= cl_image_path experience.photos[0].path, size: "500x300", crop: :fill; %>');">
      <div class="card-user">
        <%= cl_image_tag experience.user.avatar.path, class:"avatar-radius", size: "40x40",crop: :fill, gravity: :faces, title: experience.user.first_name %>
      </div>
      <span class="rating">
        <%= render "shared/rating", rating: experience.average_rating %>
      </span>
      <p class="card-category">
        <%= title_category(experience.category) %>
      </p>
      <div class="card-description">
        <h3>
          <% if experience.title.length > 30 %>
            <%= "#{experience.title[0...27]}..." %>
          <% else %>
            <%= experience.title %>
          <% end %>
        </h3>
        <p>
          <% if experience.description.length > 100 %>
            <%= "#{experience.description[0...97]}..." %>
          <% else %>
            <%= experience.description %>
          <% end %>
        </p>
      </div>
      <div class="card-location">
        <i class="fa fa-map-marker"></i><p><%= experience.city %>, <%= experience.country %></p>
      </div>
    </div>
  <% end %>
  <div style="position: absolute; top: 30px; right: 15px; font-size: 20pt;">
    <% if user_signed_in? %>
      <%= render'wishlists/heart',
        wished: current_user.wishlisted_experiences.include?(experience),
        wishlist: experience.wishlists.find_by(user: current_user),
        experience: experience,
        notext: true,
        delete_after: deletable %>
    <% end %>
  </div>
</div>
