<%= link_to experience do %>
  <div class="card text-center" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4) 100%), url('<%= cl_image_path experience.photos[0].path, size: "500x300", crop: :fill; %>');">
    <div class="card-user">
      <%= cl_image_tag experience.user.avatar.path, class:"avatar-radius", size: "40x40",crop: :fill, gravity: :faces, title: experience.user.first_name %>
    </div>
    <span class="rating">
      <%= render "shared/rating", rating: experience.average_rating %>
    </span>
    <p class="card-category">
      <%= experience.category %>
    </p>
    <div class="card-description">
      <h3><%= experience.title %></h3>
      <p><%= experience.description[0...300] + "..." %></p>
    </div>
    <div class="card-location">
      <i class="fa fa-map-marker"></i><p><%= experience.city %>, <%= experience.country %></p>
    </div>
</div>
<% end %>
