<% id ||= 'experience' %>
<%# To allow Gmaps JS to work its magic even when we call the partial several times %>
<%# To allow Attachinary to work its magic even when we call the partial several times %>

<%= simple_form_for experience do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: "Titre", placeholder: "Donnez envie de découvrir votre moment" %>
  <%= f.input :category,
              as: :select,
              label: "Catégories",
              collection: Category.as_tree,
              include_blank: "Choisissez une catégorie",
              value_method: &:id,
              label_method: ->(c) do
                if c.parent_category.nil?
                  c.title
                else
                  "| -- #{c.title}"
                end
              end %>
  <%= f.input :description, label: "Description", placeholder: "Décrivez votre coup de coeur, pourquoi est-ce un coup de coeur ?" %>
  <%= f.input :url, label: "Site web", placeholder: "Rentrez un lien internet" %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :photos, as: :attachinary, input_html: {id: "#{id}_attachinary_input"} %>
      </div>
      <div class="col-sm-4">
        <%= f.input :price, label: "Prix", placeholder: "Prix par pers.", input_html: {min: 0}%>
      </div>
    </div>
  </div>

  <%= f.input :address, label: "Adresse", input_html: {id: "#{id}_autocomplete"}, placeholder: "Entrez un endroit" %>
  <hr>
  <%= f.button :submit, "Partage !", class:'btn btn-success btn-block' %>
<% end %>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){

    google.maps.event.addDomListener(window, 'load', function() {
      initializeAutocomplete("<%= j id %>_autocomplete");
    });

    $("#<%= j "#{id}_attachinary_input" %>").bind('fileuploaddone', function (e, data) {
      if ($("#<%= j id %>_autocomplete").val() == "") {
        $.post({
          url: "<%= j gps_coordinates_path %>",
          data: {public_id: data.attachinary.files[data.attachinary.files.length -1].public_id}
        }).done(function(res) {
          if(response.address != null){
            $("#<%= j id %>_autocomplete").val(response.address);
          };
        });
      };
    });
   });
  </script>
<% end %>
