<div id="fb-root"></div>

<div class="fb-share-button" data-href="http://share-your-trip.herokuapp.com" data-layout="button_count"></div>


<% content_for :head do %>
  <meta property="fb:app_id"      content="<%= ENV['FB_ID'] %>"/>
  <meta property="og:url"         content="<%= url %>" />
  <meta property="og:type"        content="website" />
  <meta property="og:title"       content="<%= title %>"/>
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image"       content="<%= photo %>" />
<% end %>

<% content_for :after_js do %>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=<%= ENV['FB_ID'] %>";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
<% end %>
