<!-- Button trigger modal -->
<% if user_signed_in? %>
<button type="button" class="btn btn-primary btn-lg fa fa-heart" data-toggle="modal" data-target="#myModal">
  Partage ton coup de Coeur
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mon coup de Coeur</h4>
      </div>
      <div class="modal-body input">
        <%= simple_form_for @experience do |f| %>
        <%= f.error_notification %>
        <%= f.input :title %>
        <%= f.input :category, as: :select, collection: Experience.categories %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :country, as: :string %>
        <%= f.input :photos, as: :attachinary %>
        <hr>
        <%= f.button :submit, class:'btn btn-success btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% else %>
  <%= link_to t(".sign_in", default: "Connecte toi et partage dès maintenant!"), new_user_session_path, class: "btn btn-primary btn-lg fa fa-heart" %>
<% end %>
<!-- Modal -->
