<div class="roadmap-activity" data-pid=<%= activity.position %> data-mid=<%= activity.id %>>
  <div class="left">
    <%= link_to icon('times'), activity_path(activity), method: :delete, remote: true, class: "remove-experience remove-experience-#{activity.id}" %>
    <p><%= activity.experience.title %></p>
  </div>
  <div class="right">
    <div class="date-pick">
      <% if activity.planned_on.present? %>
        <input class="bootstrap-datepicker activity-date" id="activity-<%= activity.id %>-date" value="<%= activity.planned_on.day %>/<%= activity.planned_on.month %>/<%= activity.planned_on.year %>">
      <% else %>
        <input class="bootstrap-datepicker activity-date" id="activity-<%= activity.id %>-date" placeholder="Quand ?">
      <% end %>
    </div>
    <div class="positioner" style="display: flex; flex-direction: column; justify-content: center;">
      <%= link_to icon("chevron-up"), activity_up_path(activity), method: :post, remote: true %>
      <%= link_to icon("chevron-down"), activity_down_path(activity), method: :post, remote: true %>
    </div>
  </div>
</div>
