<div id="map"></div>

<% content_for :after_js do %>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>
  <script>
  var styleArray = [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}]
  var handler = Gmaps.build('Google');
  handler.buildMap({
    internal: {id: 'map'},
    provider: {
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: styleArray,
      zoom: 14
    }
  }, displayOnMap);

  function displayOnMap(position){
    <%# raise %>
    var marker = handler.addMarker({
      lat: <%= @experience.latitude %>,
      lng: <%= @experience.longitude %>,
      infowindow: '<%= j render("shared/infowindow", experience: @experience) %>'
    });
    <% @close_by.each do |experience| %>
      handler.addMarker({
        lat: <%= experience.latitude %>,
        lng: <%= experience.longitude %>,
        infowindow: '<%= j render("shared/infowindow", experience: experience) %>'
      });
    <% end %>
    handler.map.centerOn(marker);
  };
  </script>
<% end %>
