<div id="map"></div>

<% content_for :after_js do %>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>
  <script>
  var styleArray = [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}]
  var gmap = new google.maps.Map(document.getElementById('map'), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: styleArray,
    zoom: 14
  });
  displayOnMap(gmap);

  function displayOnMap(gmap){
    var markers = [];
    var infowindows = [];

    <% @close_by.to_a.insert(0, @experience) %>

    <% @close_by.each_with_index do |experience, index| %>

      infowindows[<%= index %>] = new google.maps.InfoWindow({
        content: '<%= j render("shared/infowindow", experience: experience) %>'
      });

      markers[<%= index %>] = new google.maps.Marker({
        position: {
          lat: <%= experience.latitude %>,
          lng: <%= experience.longitude %>,
        },
        map: gmap,
      });

      markers[<%= index %>].addListener('click', function() {
        for(var i=0; i<infowindows.length; i++){
          infowindows[i].close();
        }
        infowindows[<%= index %>].open(gmap, this);
        infowindows[<%= index %>].position = this;
      });

    <% end %>

    google.maps.event.trigger(markers[0], 'click');
    gmap.setCenter(markers[0].position);
  };
  </script>
<% end %>
