<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path("background.jpg") %>');">
  <div class="banner-content">
    <h1>Ton Voyage t'a plu?</h1>
    <p>Un lieu, un restaurant, un guide ?</p>
    <%= link_to "Partage ton coup de Coeur", new_experience_path, class: "btn btn-primary btn-lg fa fa-heart" %>
  </div>
</div>

<div class="block-contain">
  <div class="container-fluid">
    <div class="row">
      <h2 class="text-center"> Quelques coup de Coeurs</h2>
      <% @experiences.each do |experience| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url('<%= cl_image_path experience.photos[0].path, size: "500x300", crop: :fill; %>');">
            <p class="card-user">
              <%= cl_image_tag experience.user.avatar.path, class:"avatar-radius", size: "50x50",crop: :fill, gravity: :faces, title: experience.user.first_name %>
            </p>
            <p class="card-category">
            <%= experience.category %>
            </p>
            <div class="card-description">
              <%= link_to experience do %>
                <h3><%= experience.title %></h3>
              <% end %>
              <p><%= experience.description %></p>
              <p><%= experience.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
