<% content_for :navbar do %>
  <% unless alert %>
    <%= render "shared/navbar", white: true %>
  <% end %>
<% end %>

<div class="banner" style="background-image: linear-gradient(-180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.3) 100%), url('<%= image_path("background.jpg") %>');">
  <div class="banner-content">
    <h1>Découvrez les meilleurs coups de coeur de nos voyageurs</h1>
    <%= render "shared/search_input", noorder: true %>
  </div>
</div>

<div class="container home-content">
  <div class="row">
    <h2>Les coups de coeur du moment</h2>
    <div class="block-contain">
      <div class="container-fluid">
        <div class="row">
          <% @experiences.each do |experience| %>
            <div class="col-xs-12 col-sm-4">
              <%= render "shared/card", experience: experience %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Comment ça marche</h2>
    <div class="col-md-4 text-center">
      <%= image_tag 'itineraire.png' %>
      <p class="feature">Découvrez</p>
      <p class="feature">Inspirez vous des coups de coeur de voyageurs.</p>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag 'carnet.png' %>
      <p class="feature">Préparez</p>
      <p class="feature">Enregistrez vos coups de coeur favoris et générez des itinéraires.</p>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag 'valise.png' %>
      <p class="feature">Partagez</p>
      <p class="feature">Publiez vos coups de coeur pour en faire profiter les autres et conservez une trace de vos meilleurs moments.</p>
    </div>
  </div>
</div>
