<div class="review">
<%= simple_form_for [locals[:parent], locals[:review]] do |f| %>
  <div class="author">
    <%= cl_image_tag(current_user.avatar.path, { size: '40x40', crop: :thumb, radius: :max, gravity: :face}) %>
    <span class="username"><%= current_user.name.capitalize %></span>
  </div>
  <div class="review-content">
    <%= f.input :content, type: "textarea", input_html: { class: "input-content", rows: 2 }, label: false, placeholder: "Leave a review?", error: false %>
  </div>
  <div class="input-rating">
  <%= f.input :rating,  as: :radio_buttons, label: false, error: false do%>
    <%= f.collection_radio_buttons :rating, (0..4).reverse_each, :succ, ->(a){false}, item_wrapper_tag: false do |b| %>
      <%= b.radio_button class: 'with-font' %>
      <%= b.label {""} %>
    <% end %>
  <% end %>
  </div>
  <%= f.button :button, class: "input-validate btn btn-primary ladda-button", "data-style": "contract" do %>
    <span class="ladda-label">Submit</span>
  <% end %>
<% end %>
</div>
