<div class="container search-form">
  <div class="search-center">
    <%= render 'shared/search_input'%>
  </div>
  <% Category.roots.each do |cat| %>
    <%= link_to cat.title, params.merge(search: params[:search].merge({category: cat.id}))%>
  <% end %>
</div>


<div class="block-contain">
  <div class="container-fluid">
    <div class="row card-container">
      <% @experiences.each do |experience| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "shared/card", experience: experience %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="banner-bottom-cta">
  <%= link_to my_experiences_path do %>
    <i class="fa fa-heart"></i> <%= t ".mes coups de coeur", default: "Mes coups de coeur" %>
  <% end %>
</div>
