<h2>INDEX</h2>

<% @experiences.each do |experience| %>

  <%= experience.user.first_name %> <%= experience.user.last_name %> enjoyed :
  <%= experience.title %>
  <%= experience.category %>
  <%= experience.description %>
  <%= experience.address %>

<% end %>
