<% params[:search] ||= {} %>

<div class="container search-form">
  <div class="search-center" style="flex-direction: column;">
    <div class="search-center" style="background: none;">
      <%= render 'shared/search_input'%>
    </div>
    <div>
      <% Category.roots.each_with_index do |cat, index| %>
        <%= link_to params.merge(search: params[:search].merge({category: cat.id})), class: "filter-link" do %>
          <%= image_tag "cat-#{index}.png", height: 30, width: 30 %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="block-contain">
  <div class="container-fluid">
    <div class="row card-container">
      <% if @experiences.blank? %>
        <div style="display: flex; align-items: center; flex-direction: column;">
          <h2>Oups! Pas encore de coups de coeur partagés pour cette destination!</h2>
          <h3>Vous connaissez des grands voyageurs? Invitez-les à partager leurs coups de coeur avec nous!</h3>
        </div>
      <% else %>
        <% @experiences.each do |experience| %>
          <div class="col-xs-12 col-sm-4">
            <%= render "shared/card", experience: experience %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="banner-bottom-cta">
  <%= link_to my_experiences_path do %>
    <i class="fa fa-heart"></i> <%= t ".mes coups de coeur", default: "Mes coups de coeur" %>
  <% end %>
</div>
