<% content_for :title do %>
  <%= @experience.title %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="block-left col-md-6">
      <div class="row" style="display: flex; flex-direction: column; margin-right: 25px; margin-left: 25px;">
        <div class="text-and-author">
            <div class="experience-header">
              <div class="title">
                <h3>
                <%= @experience.title %>
                <% if policy(@experience).edit? %>
                  <%= link_to icon("pencil"), edit_experience_path(@experience), class: "icon-controlled-access" %>
                  <%= link_to icon("times"), @experience, method: :delete, class: "icon-controlled-access" %>
                <% end %>
                </h3>
              </div>
              <div class="rating">
                <span class="average-rating">
                  <%= render "shared/rating", rating: @experience.average_rating %>
                </span>
              </div>
            </div>

            <div class="experience-description">
              <%= @experience.description %>
            </div>
            <% unless @experience.url.nil? %>
              <div style="display: flex; justify-content: flex-end;">
                <%= link_to "Visiter", @experience.url, class: "btn btn-primary" %>
              </div>
            <% end %>
            <div class="author-details" style="position: relative;">
              <div style="position: absolute; top: -25px;">
                <%= @experience.address %>
              </div>
              <div>
                <%= cl_image_tag @experience.user.avatar.path, crop: :fill, size: "30x30", class: "avatar", gravity: :face %>
                <span class="author-name"><%= "#{@experience.user.first_name} #{@experience.user.last_name[0].upcase}." %></span>
              </div>
              <div class="interaction-buttons">
                <% if user_signed_in? %>
                  <%= render 'wishlists/heart', wished: @wished, wishlist: @wishlist, experience: @experience %>
                <% end %>
                <%= render "shared/facebook_share", url: experience_url(@experience), title: @experience.title, description: @experience.description, photo: @experience.photos[0].url %>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews col-md-10 col-offset-1">
          <% if user_signed_in? && policy(@rating).new? %>
            <%= render "shared/review_form", locals: { parent: @experience, review: @rating } %>
          <% end %>
          <% @experience.ratings.each do |rating| %>
            <%= render "shared/review", locals: { review: rating } %>
          <% end %>
        </div>
      </div>
      <div class="block-right col-md-6">
        <div class="row">
          <div class="pictures col-md-12">
            <%= cl_image_tag @experience.photos[0].path, class: "main-picture", crop: :fill %>
            <div class="sub-pictures">
              <% if @experience.photos.length > 1 %>
                <% @experience.photos.each do |photo| %>
                  <%= cl_image_tag photo.path, crop: :lfill, class: "sub-picture" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="map-wrapper">
              <%= render "shared/map" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
<script>
  $(document).ready(function(){
    $('.pictures img').hover(function(e){
      save = $(".main-picture")[0].src
      $(".main-picture")[0].src = $(this)[0].src;
    }, function(e){
      $(".main-picture")[0].src = save;
    });
    $('.pictures img').click(function(e){
      save = $(".main-picture")[0].src
    });
  });
</script>
<% end %>
