<% content_for :title do %>
@experience.title
<% end %>
<h2>SHOW</h2>

<p><%= @experience.user.first_name %> <%= @experience.user.last_name %> enjoyed :</p>

<%= link_to @experience do %>
  <h3><%= @experience.title %></h3>
<% end %>


<p><%= @experience.category %></p>
<p><%= @experience.description %></p>
<p><%= @experience.address %></p>
<% if @experience.photos? %>
  <% @experience.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
<% end %>

<h2>Reviews</h2>
<div class="reviews">
  <div class="container">
    <div class="row">
      <% @experience.ratings.each do |rating| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render "shared/review", locals: { review: rating } %>
      </div>
      <% end %>
      <% if policy(@rating).new? %>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= render "shared/review_form", locals: { parent: @experience, review: @rating } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

