<% content_for :title do %>
<%= @experience.title %>
<% end %>

<div class="experience-wrapper">
  <div class="experience-content">
    <div class="experience-info">
      <div class="experience-text">
        <div class="experience-header">
          <div class="title"><h3><%= @experience.title %></h3></div>
          <div class="rating">
            <span class="average-rating">
              <% (@average_rating).times do %>
                <%= icon("star") -%>
              <% end %>
              <% (5-@average_rating).times do %>
                <%= icon("star-o") -%>
              <% end %>
            </span>
          </div>
        </div>
        <div class="experience-description">
          <%= @experience.description %>
        </div>
      </div>
      <div class="author-details">
        <%= cl_image_tag @experience.user.avatar.path, crop: :fill, size: "500x500" %>
        <div class="author-name"><%= "#{@experience.user.first_name} #{@experience.user.last_name[0].upcase}." %></div>
      </div>
    </div>
    <div class="pictures">
      <%= cl_image_tag @experience.photos[0].path, class: "main-picture", id: "main-picture", crop: :fill %>
      <% @experience.photos.each do |photo| %>
        <%= cl_image_tag photo.path, crop: :fill %>
      <% end %>
    </div>
  </div>
  <div class="reviews">
    <% if user_signed_in? && policy(@rating).new? %>
      <%= render "shared/review_form", locals: { parent: @experience, review: @rating } %>
    <% end %>
    <% @experience.ratings.each do |rating| %>
      <%= render "shared/review", locals: { review: rating } %>
    <% end %>
  </div>
  <%= render "shared/map" %>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      $('.pictures img').hover(function(e){
        save = $("#main-picture")[0].src
        $("#main-picture")[0].src = $(this)[0].src;
      }, function(e){
        $("#main-picture")[0].src = save;
      });
      $('.pictures img').click(function(e){
        save = $("#main-picture")[0].src
      });
    });
  </script>
<% end %>
