<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png' %>
    <title>
      <% if content_for? :title %>
        <%= yield :title %> - Share Your Trip
      <% else %>
        Share Your Trip
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="Site">
  <% if content_for? :navbar %>
    <%= content_for :navbar %>
  <% else %>
    <%= render "shared/navbar" %>
  <% end %>

  <!-- Modal -->
<% if user_signed_in? %>
<div class="modal fade" id="addExperience" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mon coup de Coeur</h4>
      </div>
      <div class="modal-body input">
        <%= render "shared/experience_form", experience: Experience.new %>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- End of Modal -->
    <%= render 'shared/flashes' %>
    <div class="Site-content">
      <%= yield %>
    </div>

    <footer>
      <%= render 'shared/footer' %>
    </footer>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBCoDjqf-9l5d0f0LoOhPQuHSOMaKKP7-0">
    </script>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>

